@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CARD */
.card {
  background-color: hsl(0, 0%, 12%);
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  width: 350px;
}

.card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}

.card h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 25px;
}

.bio {
  font-size: 14px;
  color: hsl(0, 0%, 70%);
  margin-bottom: 25px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links a {
  background-color: hsl(0, 0%, 20%);
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

/* HOVER */
.links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}